.eight-option-radio {
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.options-container {
  display: flex;
  flex-direction: column;
}

.option-row {
  display: flex;
}

.option-radio {
  /* Hide the default radio button */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* Create a custom radio button */
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 2px solid #fdfdfd;
  background-color: none; /* Color of the circle */
  outline: none;
  /* Center the radio button within its container */
  position: relative;
}

.option-text {
  font-family: "80kb";
  color: #05091c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.option-label {
  position: relative;
  margin-right: 5px;
  display: inline-block;
}

.option-radio:hover {
  background-color: #fdfdfd;
  opacity: 0.3;
}

.option-radio:checked {
  background-color: #fdfdfd;
}

.selected-option {
  font-weight: bold;
}
